<style>
body {
    font-family: 'Aspira', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logo {
    width: 250px; /* Adjust the width as needed */
}

h1 {
    margin-top: 0; /* Remove default margin */
}


</style>